<!-- contact -->
<section class="section" id = "contact">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="bg-white rounded text-center p-5 border">
          <h4 class="mb-20">Get in Touch with Us</h4>
          <h5 class="mb-20">We are always looking for new exciting projects and collaborations. Feel Free to contact us!</h5>
          <form action="https://formspree.io/f/mbjqplvd" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4" required>
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="_replyto" placeholder="Email Address" class="form-control px-0 mb-4" required>
            </div>
            <div class="col-12">
              <input type="text" id="subject" name="subject" placeholder="Subject" class="form-control px-0 mb-4">
            </div>
            <div class="col-12 mb-6">
              <textarea name="message" id="message" class="form-control px-0 mb-3"
                placeholder="Type Message Here"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">

              <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
