// Color Variables
:root {
    --text-color:#000;
    --primary-color:#41228e;
}


$primary-color: var(--primary-color);
$secondary-color: #2bfdff;
$text-color: #4c4c4c;
$text-color-dark: var(--text-color);
$text-color-light: #999999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif, 300;
$work-sans: "Public Sans", sans-serif;
$secondary-font: 'Public Sans', serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';
